

.site {
	position: relative;
	padding-top: 159px;
	margin: 0 4px;

	@media (min-width: $break-header) {
		padding-top: 173px;
	}

	@media (min-width: $break-md) {
		margin: 0 10px;
	}

	@media (min-width: 1700px) {
		margin: 0 44px;
	}
}

.site-main {

	@media (min-width: $break-excerpt-image) {
		min-height: 50vh;
		background-color: $grey-bg;
	}

	@media (min-width: $break-featured) {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 35px 0 0; 
	}
}

// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";