.site-main--single {
	display: block;
	background-color: white;
	padding-top: 0;
}

.single-thumb {
	text-align: center;
}

.single-header {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;

	@media (max-width: $break-header) {

		h1 {
			font-size: 1.5em;
		}
	}

	.tags-links {
		max-width: none;
		display: inline-block;
	}
}

.single-meta {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.7;
	color: #adadad;
	border-bottom: 1px solid #d8d8d8;
	text-align: left;
	font-size: 13px;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (min-width: $break-header) {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 15px;
	}

	> ol {
		> li {
			display: inline-block;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.single-content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 15px;

	@media (min-width: 370px) {
		padding: 0 20px;
		font-size: 16px;
	}

	@media (min-width: $break-header) {
		font-size: 18px;
	}

	p, div[dir="ltr"] {
		max-width: 41em;
		margin: 1em auto;
		font-size: 1em;
		line-height: 1.6;
	}

	div[dir="ltr"] p {
		font-size: 1em;
	}
}