
.secondary-menu {
	line-height: 2;

	@media (max-width: $break-featured) {
		background-color: white;		
	}

	&__title {
		position: relative;
		display: block;
		margin: 10px 0;
		padding: 5px 0;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		@extend .title-lines;

		@media (min-width: $break-header) {
			font-weight: normal;
		}
	}

	@media (min-width: $break-featured) {
		margin-left: -70px;

		&__title {
			text-align: right;
			margin: 0;
			padding: 14px 0 0;

			&::before, &::after {
				content: none !important;
			}			
		}
	}
}

.menu-secondary-menu-container {
	background-color: $grey-bg;
	text-align: center;

	> ul {
		max-width: 610px;
		margin: 0 auto;
		padding: 15px 0;

		> li {
			display: inline-block;
			margin: 5px;

			> a {
				display: inline-block;
				padding: 4px 20px;
				background-color: white;
				color: #333;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $break-featured) {

		>ul {
			padding: 7px 0;

			> li {
				display: block;
				margin: 0 0 5px 0;
				text-align: right;

				> a {
					line-height: 1.2;
					font-size: 18px;
					border-right: 2px solid lightgrey;
					transition: border-right 0.07s ease-in-out;

					&:hover {
						border-right: 2px solid $highlight-color;
					}
				}
			}
		}
	}
}